/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #f6f5f6;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

ul {
    list-style: none;
}

li {
    margin: 2px;
}

@media screen and (min-width: 769px) {
    .video-container {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        width: 820px;
        height: 250px;
        background-color: #464646;
        color: white;
    }

    .video-frame {
        width: 475px;
        height: 245px;
    }

    .video-info-container {
        width: 335px;
        padding: 5px;
    }

    .video-desc {
        width: 335px;
    }

    .video-title {
        margin: 5px;
        font-size: 20px;
    }

    .sort-item {
        cursor: pointer;
        background-color: #3bbec0;
        color: white;
        width: 150px;
        height: 40px;
        font-size: 20px;
        text-align: center;
        padding-top: 22px;
        float: left;
    }

    .sort-item:hover {
        background-color: #319ba1;
    }

    .sort-item-selected {
        cursor: pointer;
        background-color: #319ba1;
        color: white;
        width: 150px;
        height: 40px;
        font-size: 20px;
        text-align: center;
        padding-top: 22px;
        float: left;
    }

    #sort-item-container {
        height: 57px;
    }
}
