<li ng-repeat="video in videos" class="thumbnail-container" id="thumbnail-container-{{video.video_id}}">
    <div video-window-creator="{{video.video_id}}"
         video-views-countup="{{video.id}}"
         class="thumbnail-back-wall"></div>
    <div class="thumbnail-information">
        <span>{{video.formated_created_at}}</span><br>
        <spn>{{video.formated_views}}</spn> views
    </div>
    <img class="thumbnail-image" src="images/{{video.thumbnail_path}}">
    <p video-window-creator="{{video.video_id}}"
       video-views-countup="{{video.id}}"
       class="thumbnail-title">{{video.title_ja}}</p>
    <div class="thumbnail-desc">{{video.description_ja}}</div>
    <div id="share-button-{{video.id}}" class="share-button"></div>
</li>
